{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% tailwind_css %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <title>Search</title>
    <style>
        #gradient-canvas {
            width: 100%;
            height: 100%;
            --gradient-color-1: #0834c4;
            --gradient-color-2: #227a85;
            --gradient-color-3: #149c97;
            --gradient-color-4: #099a2a;
        }

        .image-holder {
            transform-origin: left top;
            overflow: hidden;
        }

        .image-holder canvas {
            transform-origin: left top;
        }

        ::placeholder {
            color: white;
        }
    </style>
    <script type="module">
        import {Gradient} from '{% static '/Gradient.js' %}'

        const gradient = new Gradient()
        gradient.initGradient('#gradient-canvas')
        fitToContainer(canvas);

        function fitToContainer(canvas) {
            // Make it visually fill the positioned parent
            canvas.style.width = '100%';
            canvas.style.height = '100%';
            // ...then set the internal size to match
            canvas.width = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
        }
    </script>
</head>
<body>
<div>
    <div class="image-holder w-screen h-screen">
        <canvas class="w-full h-full" id="gradient-canvas" data-transition-in></canvas>
        <div class="navbar gap-5 absolute top-0 backdrop-filter backdrop-blur-3xl rounded-lg bg-white/20">
            <div class="flex flex-row gap-1 items-baseline">
                <a class="flex-none text-3xl font-black text-white pl-6" href="/">RidePool</a>
                <p class="text-sm text-white invisible lg:visible">For School</p>
            </div>
            <div class="flex-1 gap-2 invisible lg:visible">
                <form method="POST" class="relative w-full">
                    {% csrf_token %}
                    <input type="text" placeholder="Search for ridepool events..." name="search_content"
                           class="pe-16 w-full rounded-lg bg-white/20 border-white/20 text-white placeholder-slate-200"/>
                    <button class="absolute top-0 end-0 p-2.5 font-medium h-full text-white bg-white/20 rounded-e-lg transition hover:bg-white/40 active:bg-white/50">
                        <i class="material-icons" style="color:white; font-size:22px">search</i>
                    </button>
                </form>
            </div>
            <div class="px-6">
                <a class="btn btn-ghost flex-none" href="/gift_shop/">
                    <i class="material-icons" style="color:white; font-size:24px">redeem</i>
                </a>
                <a class="btn btn-ghost flex-none" href="/add_event/">
                    <i class="material-icons" style="color:white; font-size:24px">add</i>
                </a>
                {% if logged_in %}
                    <a class="btn btn-ghost flex-none" href="/profile/">
                        <i class="material-icons" style="color:white; font-size:24px">person</i>
                    </a>
                    <a class="btn btn-ghost flex-none" href="/notifications/">
                        <i class="material-icons" style="color:white; font-size:24px">notifications</i>
                    </a>
                {% endif %}
                {% if not logged_in %}
                    <a class="btn btn-ghost flex-none" href="/log_in/">
                        <p class="text-white">Log in</p>
                    </a>
                    <a class="btn btn-ghost flex-none" href="/sign_up/">
                        <p class="text-white">Sign Up</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="flex flex-col absolute top-28 inset-14 backdrop-filter backdrop-blur-3xl rounded-lg bg-white/20 p-14">
        <h1 class="text-6xl font-black text-white gap-1">Search Results</h1>
        <h1 class="text-sm font-medium text-white pb-5">A list of school events registered with RidePool</h1>
        <div class="flex flex-col overflow-auto gap-3">
            {% for event in events %}
                <div class="bg-white/20 rounded-lg p-4 text-wrap">
                    <div class="flex flex-row pb-1.5 gap-2">
                        {% csrf_token %}
                        <div class="flex flex-1 items-center gap-4">
                            <h1 class="text-2xl font-black text-white">{{ event.name }}</h1>
                            <div class="badge badge-primary">{{ event.date }}</div>
                        </div>
                        <form method="POST">
                            <button name="register"
                                    class="font-medium justify-end text-white p-4 rounded-lg transition bg-green-600/80 hover:bg-green-700/80 active:bg-green-800/80"
                                    onclick="alert('Registered successfully')">
                                Register
                            </button>
                            {% csrf_token %}
                            <input name="event_name" class="text-2xl font-black text-white" value="{{ event.name }}"
                                   hidden>
                            <button name="buddies2"
                                    class="font-medium justify-end text-white p-4 rounded-lg transition bg-green-600/80 hover:bg-green-700/80 active:bg-green-800/80">
                                <i class="material-icons" style="color:white; font-size:24px">directions_car</i>
                            </button>
                        </form>
                    </div>
                    <article class="text-wrap text-white">{{ event.description }}</article>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<dialog id="buddies" class="modal">
    <div class="flex flex-col gap-2 modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Available Ridepool Buddies</h3>
        {% for driver in drivers %}
            <form method="POST" class="flex flex-row gap-2 border-solid border rounded-xl border-slate-300 p-2">
                {% csrf_token %}
                <p class="py-2.5 flex-1">{{ driver.name }}</p>
                <p class="py-2.5 flex-1">{{ driver.address }}</p>

                <input name="driver_name" hidden value="{{ driver.name }}">
                <input name="driver_address" hidden value="{{ driver.address }}">
                <input name="driver_email" hidden value="{{ driver.email }}">

                <button name="accept" class="btn btn-square btn-success">
                    <i class="material-icons" style="color:white; font-size:22px">check</i>
                </button>
            </form>
        {% endfor %}
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
<script>
    {% if show_buddies %}
        document.getElementById("buddies").showModal()
    {% endif %}
</script>
</body>
</html>
