{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% tailwind_css %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
    <title>Register Event</title>
    <style>
        #gradient-canvas {
            width: 100%;
            height: 100%;
            --gradient-color-1: #0c7507;
            --gradient-color-2: #00ff48;
            --gradient-color-3: #153f00;
            --gradient-color-4: #2fff00;
        }

        .image-holder {
            transform-origin: left top;
            overflow: hidden;
        }

        .image-holder canvas {
            transform-origin: left top;
        }

        ::placeholder {
            color: white;
        }
    </style>
    <script type="module">
        import {Gradient} from '{% static '/Gradient.js' %}'

        const gradient = new Gradient()
        gradient.initGradient('#gradient-canvas')
        fitToContainer(canvas);

        function fitToContainer(canvas) {
            // Make it visually fill the positioned parent
            canvas.style.width = '100%';
            canvas.style.height = '100%';
            // ...then set the internal size to match
            canvas.width = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
        }
    </script>
</head>
<body>
<div>
    <div class="image-holder w-screen h-screen">
        <canvas class="w-full h-full" id="gradient-canvas" data-transition-in></canvas>
        <div class="navbar gap-5 absolute top-0 backdrop-filter backdrop-blur-3xl rounded-lg bg-white/20">
            <div class="flex flex-row gap-1 items-baseline">
                <a class="flex-none text-3xl font-black text-white pl-6" href="/">RidePool</a>
                <p class="text-sm text-white invisible lg:visible">For School</p>
            </div>
            <div class="flex-1 gap-2 invisible lg:visible">
                <form method="POST" class="relative w-full">
                    {% csrf_token %}
                    <input type="text" placeholder="Search for ridepool events..." name="search_content"
                           class="pe-16 w-full rounded-lg bg-white/20 border-white/20 text-white placeholder-slate-200"/>
                    <button class="absolute top-0 end-0 p-2.5 font-medium h-full text-white bg-white/20 rounded-e-lg transition hover:bg-white/40 active:bg-white/50">
                        <i class="material-icons" style="color:white; font-size:22px">search</i>
                    </button>
                </form>
            </div>
            <div class="px-6">
                <a class="btn btn-ghost flex-none" href="/gift_shop/">
                    <i class="material-icons" style="color:white; font-size:24px">redeem</i>
                </a>
                <a class="btn btn-ghost flex-none" href="/add_event/">
                    <i class="material-icons" style="color:white; font-size:24px">add</i>
                </a>
                <a class="btn btn-ghost flex-none" href="/profile/">
                    <i class="material-icons" style="color:white; font-size:24px">person</i>
                </a>
                <a class="btn btn-ghost flex-none" href="/notifications/">
                    <i class="material-icons" style="color:white; font-size:24px">notifications</i>
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col absolute top-28 inset-14 backdrop-filter backdrop-blur-3xl rounded-lg bg-white/20 p-14">
        <div class="grid grid-cols-2 gap-10">
            <h1 class="text-6xl font-black text-white gap-1 pt-4">Account</h1>
        </div>
        <h1 class="text-sm font-medium text-white pb-5 pt-5">Manage your information</h1>
        <form method="POST" class="flex flex-col gap-3 overflow-auto">
            {% csrf_token %}
            <div class="flex-1 gap-2">
                <div class="relative w-full">
                    <p class="absolute top-0 start-0 p-2.5 h-full bg-white/20 text-white font-bold">Name
                        &nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <input type="text" name="name"
                           class="ps-24 w-full rounded-lg bg-white/20 border-white/20 text-white"/>
                </div>
            </div>
            <div class="flex-1 gap-2">
                <div class="relative w-full">
                    <p class="absolute top-0 start-0 p-2.5 h-full bg-white/20 text-white font-bold"> Address</p>
                    <input type="text" name="search_content"
                           class="ps-24 w-full rounded-lg bg-white/20 border-white/20 text-white"/>
                </div>
            </div>
            <label class="inline-flex items-center cursor-pointer">
                <span class="text-white font-bold pr-4">Notifications</span>
                <input type="checkbox" value="" class="sr-only peer">
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <button class="font-medium justify-end text-white p-4 rounded-lg transition bg-pink-500/80 hover:bg-pink-600/80 active:bg-pink-700/80">
                Log Out
            </button>
        </form>
    </div>
</div>
<dialog id="event_added" class="modal shadow-lg bg-transparent">
    <div class="flex flex-col gap-2 modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Event Registered</h3>
        Congrats! Now go spread the word!
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
<script>
    {% if event_added %}
        document.getElementById("event_added").showModal()
    {% endif %}
</script>
</body>
</html>
